
body {
	background-color:#FFFFFF;
}
img.center {
	display: block;
	text-align: center;
	margin: 0 auto;
}
h1 {
	font-size: 50px;
	text-align: center;
	text-decoration: underline;
	font-family: 'Lora', serif;
}
#slogan {
	font-size: 20px;
	text-align: center;
	font-style: italic;
}
h2{
	font-size: 16px ;
	text-align: center;
	font-style: italic;
}
p{
	font-size: 16px;
	text-align: center;
}
