
body {
	background-color:#FFFFFF;
}
img {
	display: block;
	margin: 0 auto;

}
h1, h3, h4 {
	font-family: 'Lora', serif;
}
h1 {
	font-size: 50px;
	text-align: center;
	font-family: 'Lora', serif;
	border-bottom:4px solid black;
	display: inline-block;

}
#slogan {
	font-size: 20px;
	text-align: center;
	font-style: italic;
}
h2{
	font-size: 16px ;
	text-align: center;
	font-style: italic;
}
p{
	font-size: 16px;
	text-align: center;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

footer{
	text-align: center;
	padding: 1em 0;
}